@media screen and (min-width: 641px) {
  main.discover-layout {
    grid-template-areas:
      "sidebar cards";
    grid-template-columns: 250px 1fr;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
